.reveal section ul {
  text-align: left;
}

.reveal section strong {
  text-decoration: underline;
}

.reveal section pre code {
  font-size: 80%;
}

.reveal section pre code.lang-json-small {
  font-size: 50%;
}

.reveal img.stork {
  max-width: 40%;
}

.reveal img.borderless {
  border-style: none;
  box-shadow: none;
}

.reveal img.opi {
  max-width: 50%;
}

.reveal img.terraform {
  max-width: 50%;
}
