.reveal section ul {
  text-align: left;
}

.reveal section strong {
  text-decoration: underline;
}

.reveal section pre code {
  font-size: 80%;
}

.reveal section pre code.lang-json-small {
  font-size: 50%;
}
